*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.3em;
  width: 85%;
  margin: 0 auto;
}

.container {
  padding: 1.5em;
  border-radius: 10px;
}

.btn {
  display: block;
  width: 100%;
  padding: 0.6em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  background-color: skyblue;
  box-shadow: 2px 2px 2px 2px #000;
  color: #000;
}

.btn:active {
  transform: translateY(2px);
  box-shadow: 0px 0px 0px 0px black;
  outline: 1px solid #000;
}

.App h2 {
  text-align: center;
}

.method_container {
  display: flex;
  align-items: center;
}

.method_container .anchors {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 0.5em 5em;
}

.standard_container .anchors {
  background-color: lightblue;
}

.metric_container .anchors {
  background-color: lightpink;
}

.button_container {
  margin-bottom: 1em;
}

input {
  font-size: 1rem;
  padding: 0.2em 0.1em;
  border-radius: 4px;
  border: none;
}

.holder {
  margin-bottom: 1.5em;
}

.holder p {
  margin-bottom: 0.9em;
  font-weight: 700;
}

.holder label {
  margin-right: 0.5em;
}

.input_container {
  display: flex;
  gap: 1em;
}

input:focus {
  outline: 1px solid blue;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 470px) {
  .method_container .anchors {
    padding: 0.5em 3em;
  }
}

@media screen and (max-width: 640px) {
  .App {
    width: 90%;
  }

  .container {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .input_container {
    flex-direction: column;
  }

  input {
    width: 100%;
  }

  .holder p {
    margin-bottom: 0.5em;
  }
}
